<div class="d-flex flex-column fixed-top justify-content-center align-items-center p-0 m-0" [class.bg-dark-transparent]="isDark()" [class.bg-light-transparent]="!isDark()" style="height: 100vh; max-height: 100vh;" (click)="changeBannerVisibility()">
    <div class="news-panel d-flex flex-column border rounded-top p-0 m-0"  [class.border-dark]="!isDark()" [class.border-light]="isDark()" [class.bg-dark]="isDark()" [class.bg-light]="!isDark()" (click)="$event.stopPropagation()">
        <div class="d-flex slab-flex-1 flex-row bg-infoPlata border-bottom text-center p-0 m-0 user-select-none"  [class.border-dark]="!isDark()" [class.border-light]="isDark()">
            <div class="d-flex flex-column justify-content-center px-1 m-0 clickable" (click)="changeBannerVisibility()">
                <span class="dot m-1 p-1"></span>
            </div>
            <div class="d-flex flex-column justify-content-center px-1 m-0 clickable" (click)="menosClick()" [class.d-none]="!elfua">
                <span class="orangedot m-1 p-1"></span>
            </div>
            <div class="d-flex slab-flex-1 flex-row justify-content-center text-center p-0 m-0">
                <span class="p-0 m-0">&nbsp;</span>
            </div>
        </div>
        <div class="news-content d-flex flex-column p-4 decreasingFont" [class.dark]="isDark()">
            <div class="news-head">
                <h3 class="p-0 m-0">Novedades</h3>
                <span class="news-date">26/09/2026</span>
            </div>

            <ul class="news-highlights">
                <li><i class="fa-solid fa-file-zipper"></i><span><b>Más compresiones:</b> HTJ2K, JPEG 2000 Part 2, Deflate y los JPEG retirados.</span></li>
                <li><i class="fa-solid fa-palette"></i><span><b>Más color:</b> YBR parcial, HSV, ARGB, CMYK y paletas segmentadas.</span></li>
                <li><i class="fa-solid fa-sliders"></i><span><b>Selector de ventana</b> cuando el estudio trae varias.</span></li>
                <li><i class="fa-solid fa-download"></i><span><b>Códecs bajo demanda:</b> se descargan solo cuando hacen falta.</span></li>
                <li><i class="fa-solid fa-vial-circle-check"></i><span><b>73 casos de prueba</b> y conformance statement al día.</span></li>
                <li><i class="fa-solid fa-code-branch"></i><span><b>Open source:</b> ¿interesado? Icono de mensaje, arriba.</span></li>
            </ul>

            <a class="clickable text-primary news-more" (click)="masClick()" [class.d-none]="elfua">más...</a>
            <div class="d-flex flex-column p-0 m-0" [class.d-none]="!elfua">
                <dl class="news-history">
                    <dt>30/04/2025</dt><dd>Nace VisorDicom, el visor open source.</dd>
                    <dt>14/10/2024</dt><dd>Backend detenido. El visor sigue.</dd>
                    <dt>20/04/2024</dt><dd>StudyDescription en los listados.</dd>
                    <dt>29/07/2023</dt><dd>Subidas en curso en la barra de título.</dd>
                    <dt>25/05/2023</dt><dd>Mis imágenes y compartir con doctores.</dd>
                    <dt>08/05/2023</dt><dd>Ver las imágenes guardadas.</dd>
                    <dt>15/01/2023</dt><dd>Chrome en Mac. Notas descargables.</dd>
                    <dt>11/01/2023</dt><dd>JPEG Baseline y Big Endian.</dd>
                </dl>
                <div class="d-flex flex-row-reverse p-0 m-0"><a class="clickable text-primary news-more" (click)="menosClick()" [class.d-none]="!elfua">...menos</a></div>
            </div>

            <div class="news-next">
                <b>Próximamente</b>
                <span class="news-tag">Ventana con el ratón</span>
                <span class="news-tag">Vídeo en cine</span>
                <span class="news-tag">CDs grandes sin bloqueos</span>
                <span class="news-tag">Cualquier alfabeto</span>
                <span class="news-tag">DICOMDIR</span>
                <span class="news-tag">JPEG XL</span>
                <span class="news-tag">Móvil</span>
            </div>

            <div class="news-links">
                <a class="clickable text-primary" href="assets/ReleaseNotes.txt">Notas de la versión</a>
                <a class="clickable text-primary" href="assets/ConformanceStatement.pdf">Conformance statement</a>
            </div>
        </div>
    </div>
</div>
