<div class="d-flex slab-flex-1 flex-column overflow-auto m-0 p-0">
    <div class="d-flex m-0 p-0">
        <h1 [class.d-none]="(foundDCMFiles.length > 0)">Selecciona los ficheros</h1><img src="fileloader.jpg" alt="" style="visibility: hidden;">
    </div>
    <div class="d-flex m-0 p-0">
        <div [class.d-none]="(foundDCMFiles.length > 0)" class="input-group mb-3 user-select-none">
            <!-- <label  class="input-group-text" for="file">Choose directory to search</label> -->
            <input type="file" id="file" name="file" class="form-control" multiple (change)="imgsLoader.onSelected($event)" #fileUpload/>
        </div> 
    </div>
    <div class="d-flex slab-flex-1 flex-column m-0 p-0">
        <div class="d-flex slab-flex-1 m-0 p-0" [class.d-none]="(foundDCMFiles.length == 0)">
            <images-viewer class="d-flex slab-flex-1 m-0 p-0" #imgsViewer [foundDCMFiles]="foundDCMFiles"></images-viewer>
        </div>
        <div class="d-flex slab-flex-1 m-0 p-0" [class.d-none]="(foundDCMFiles.length > 5)||((imgsLoader.totalFiles > 100)&&(foundDCMFiles.length))||((imgsLoader.AllDone)&&(foundDCMFiles.length))">
            <images-loader #imgsLoader [foundDCMFiles]="foundDCMFiles" 
                class="d-flex slab-flex-1 m-0 p-0"
                (allFilesReaded)="imgsViewer.StartWatchingDCMFile();"
                (someDCMFound)="imgsViewer.Classify();">
            </images-loader>
        </div>
    </div>
</div>
