<div class="loader d-flex slab-flex-1 flex-column m-0 p-0">
    <!-- Barra siempre visible: elegir, y pasar al visor cuando se quiera (la lectura sigue por detrás) -->
    <div class="loader-bar d-flex align-items-center flex-wrap px-3 py-2 border-bottom" [class.border-dark]="!isDark()" [class.border-light]="isDark()">
        <h1 class="loader-title m-0">Selecciona los ficheros</h1>
        @if (imgsLoader.totalFiles == 0) {
            <label for="file" class="btn btn-primary loader-choose m-0"><i class="fa-solid fa-file-circle-plus"></i> Elegir ficheros</label>
        }
        <input type="file" id="file" name="file" class="d-none" multiple (change)="imgsLoader.onSelected($event)" #fileUpload/>
        <span class="loader-spacer"></span>
        @if (!showViewer && foundDCMFiles.length > 0) {
            <button type="button" class="btn btn-success loader-view" [disabled]="foundDCMFiles.length == 0" (click)="openViewer()">
                <i class="fa-solid fa-eye"></i> Ver imágenes <span class="badge text-bg-light">{{foundDCMFiles.length}}</span>
            </button>
        } @else if (showViewer) {
            <button type="button" class="btn btn-outline-secondary loader-view" (click)="showViewer = false">
                <i class="fa-solid fa-list-check"></i> Carga
            </button>
        }
    </div>
    <div class="d-flex slab-flex-1 flex-column m-0 p-0">
        <div class="d-flex slab-flex-1 m-0 p-0" [class.d-none]="!showViewer">
            <images-viewer class="d-flex slab-flex-1 m-0 p-0" #imgsViewer [foundDCMFiles]="foundDCMFiles"></images-viewer>
        </div>
        <div class="d-flex slab-flex-1 m-0 p-0" [class.d-none]="showViewer">
            <images-loader #imgsLoader [foundDCMFiles]="foundDCMFiles"
                class="d-flex slab-flex-1 m-0 p-0"
                (allFilesReaded)="imgsViewer.StartWatchingDCMFile();"
                (someDCMFound)="imgsViewer.Classify();">
            </images-loader>
        </div>
    </div>
</div>
