.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(223, 80, 80);
    border-radius: 50%;
    display: inline-block;
    border-width: 1px;
    // border-color: rgb(219, 97, 97);
    border-color: black;
    border-style: solid;
  }

  .dot:hover {
    background-color: rgb(236, 122, 122);
    border-color: rgb(126, 33, 33);
  }

